

:root {
    --color-light_green: #1abc9c;
    --color-text_white: #fff;
}

.padding {
    padding-left: 13px;
    padding-right: 13px;
}

body > header nav {
    background-color: #2c3e50;
}

body > header nav.row {
    display: none;
}

@media screen and (min-width: 767px) {
    body > header nav.row {
        display: flex;
    }
    
    body > header .mobile {
        display: none;
    }

    main header .content .img {
        width: 270px !important;
    }

    main header h2 {
        font-size: 50px !important;
    }

    main #portfolio h2, main #about h2, main #contact_me h2 {
        font-size: 50px !important;
    }
    
    main header P {
        font-size: 25px !important;
    }

    main #about .bottom, main #contact_me form {
        width: 80%;
        margin: 0 auto;
    }
    
}

main header {
    background-color: var(--color-light_green);
}

main header .content .img {
    width: 220px;
}

main header h2 {
    font-weight: bold;
    font-size: 25px;
}

i {
    font-size: 25px;
    color: currentColor;
}

main header P {
    font-size: 16px;
}

.bar {
    background-color: var(--color-text_white);
    height: 4px;
    border-radius: 2px;
}

main #portfolio h2 {
    color: #333333;
    font-size: 25px;
}

main #portfolio .coler {
    color: #2c3e50;
}

main #portfolio .bar {
    background-color: #2c3e50;
    height: 4px;
    border-radius: 2px;
}

main #portfolio .content .bottom .col img {
    border-radius: 10px;
}

main #about {
    background-color: var(--color-light_green);
}

main #about button {
    border: 1px solid currentColor;
    color: var(--color-text_white);
    background-color: transparent;
}

main #about h2 {
    font-size: 25px;
}

main #contact_me input[type="submit"]{
    background-color: var(--color-light_green);
}

main #contact_me .bord {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(151, 151, 151);
}

main #contact_me h2 {
    color: #333333;
    font-size: 25px;
}

main #contact_me .bar {
    background-color: #2c3e50;
    height: 4px;
    border-radius: 2px;
}

footer .top {
    background-color: #3a546d;
}

footer .top .icons {
    gap: 20px;
}

footer .top span {
    color: var(--color-light_green);
}

footer .top .icons i {
    width: 55px;
    aspect-ratio: 1;
    border: 1px solid currentColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .bottom {
    background-color: #2c3e50;
}