

:root {
    --color-light_green: #1abc9c;
    --color-text_white: #fff;
}

.padding {
    padding-left: 13px;
    padding-right: 13px;
}

.title {
    /* debug */
    background-color: aqua;
}

body > header nav {
    background-color: #2c3e50;
}

body > header div.row > .col {
    /* debug */
    background-color: #6a9bcb;
}

body > header nav.row {
    display: none;
}

body > header nav.row > .col {
    /* debug */
    border: 2px solid black;
    /* debug */
    background-color: #367cc3;
}

body > header .mobile {
    /* debug */
    border: 2px solid black;
}

@media screen and (min-width: 767px) {
    body > header nav.row {
        display: flex;
    }
    
    body > header .mobile {
        display: none;
    }

    main header .content .img {
        width: 270px !important;
    }

    main header h2 {
        font-size: 50px !important;
    }

    main #portfolio h2 {
        font-size: 50px !important;
    }
    
    main header P {
        font-size: 25px !important;
    }
    
}

main header {
    background-color: var(--color-light_green);
}

main header .content .img {
    width: 220px;
}

main header h2 {
    font-weight: bold;
    font-size: 25px;
}

i {
    font-size: 25px;
    color: currentColor;
}

main header P {
    font-size: 16px;
}

main header .bar {
    background-color: var(--color-text_white);
    height: 4px;
    border-radius: 2px;
}

main #portfolio h2 {
    color: #333333;
    font-size: 25px;
}

main #portfolio .coler {
    color: #2c3e50;
}

main #portfolio .bar {
    background-color: #2c3e50;
    height: 4px;
    border-radius: 2px;
}

main #portfolio .content .bottom .col img {
    border-radius: 10px;
}

main .about {
    background-color: var(--color-light_green);
}

main .about .content {
    /* debug */
    background-color: beige;
}

main .about .content .col {
    /* debug */
    border: 2px solid black;
    /* debug */
    height: 275px;
    /* debug */
    background-color: #6a9bcb;
}

main .contact_me .content {
    /* debug */
    height: 275px;
    /* debug */
    background-color: beige;
}

footer .top {
    background-color: #3a546d;
}

footer .top .col {
    /* debug */
    border: 2px solid black;
    /* debug */
    background-color: #6a9bcb;
}

footer .bottom {
    background-color: #2c3e50;
}

footer .bottom .content {
    /* debug */
    background-color: #6a9bcb;
}