

:root {
    --color-light_green: #1abc9c;
}

.padding {
    padding-left: 13px;
    padding-right: 13px;
}

.title {
    /* debug */
    background-color: aqua;
}

body > header nav {
    background-color: #2c3e50;
}

body > header div.row > .col {
    /* debug */
    background-color: #6a9bcb;
}

body > header nav.row {
    display: none;
}

body > header nav.row > .col {
    /* debug */
    border: 2px solid black;
    /* debug */
    background-color: #367cc3;
}

body > header .mobile {
    /* debug */
    border: 2px solid black;
}

@media screen and (min-width: 992px) {
    body > header nav.row {
        display: flex;
    }
    
    body > header .mobile {
        display: none;
    }
}

main header {
    background-color: var(--color-light_green);
}

main header .content {
    /* debug */
    height: 275px;
    /* debug */
    background-color: beige;
}

main .portfolio .content {
    /* debug */
    background-color: beige;
}

main .portfolio .content .col {
    /* debug */
    border: 2px solid black;
    /* debug */
    background-color: rgb(255, 255, 105);
}

main .about {
    background-color: var(--color-light_green);
}

main .about .content {
    /* debug */
    background-color: beige;
}

main .about .content .col {
    /* debug */
    border: 2px solid black;
    /* debug */
    height: 275px;
    /* debug */
    background-color: #6a9bcb;
}

main .contact_me .content {
    /* debug */
    height: 275px;
    /* debug */
    background-color: beige;
}

footer .top {
    background-color: #3a546d;
}

footer .top .col {
    /* debug */
    border: 2px solid black;
    /* debug */
    background-color: #6a9bcb;
}

footer .bottom {
    background-color: #2c3e50;
}

footer .bottom .content {
    /* debug */
    background-color: #6a9bcb;
}